{% set idModal = idModal|default('addModal') %}
{% set modalTitle = modalTitle|default('Добавить вопрос') %}
{% set action = action|default(path('ctb-survey-admin-q-add')) %}
{% set method = method|default('POST') %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="{{ idModal }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addForm" action="{{ action }}" method="{{ method }}">
                <!-- Форма для добавления задачи -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for k, value in hiddenInputs %}
                        <input type="hidden" name="{{ k }}" value="{{ value }}">
                    {% endfor %}
                    <div class="mb-3">
                        <label for="taskName" class="form-label">Название вопроса</label>
                        <input type="text" class="form-control" id="taskName" name="name" autocomplete="off"
                               maxlength="255" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskType" class="form-label">Тип вопроса</label>
                        <select class="form-select" id="taskType" name="type" required>
                            <option value="">Выберите тип вопроса</option>
                            {% for types in questionTypes %}
                                <option value="{{ types.Name }}">{{ types.Description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
