{% extends 'survey/index.html.twig' %}

{% block title %}Данные опроса{% endblock %}

{% block content %}
    {% block nav_menu %}
        <!-- Кнопка "Пройти опрос" -->
        <div id="goToSurvey" class="text-center mb-3">
            <p class="fs-4">{{ attempts.assignment.survey.getName }}</p>
            <a class="btn btn-primary" href="{{ path('ctb-survey-processed', {'uuid': attempts.assignment.survey.getUuid}) }}">Пройти опрос</a>
        </div>
    {% endblock %}

    <!-- Список с подчеркиваниями -->
    <hr>
    {% set statistics = attempts.statistics %}
    {% block table %}
        <span class="fw-bold">Статистика</span>
        <div id="scoreList" class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Кол-во вопросов</th>
                    <th scope="col">Балл</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in statistics %}
                    <tr>
                        <td>{{ stat.getUuid() }}</td>
                        <td>{{ stat.getNumberQuestions() }}</td>
                        <td>{{ stat.getNumberCorrect() }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Данных нет.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}
