{% extends 'base.html.twig' %}

{% set title = 'Анкеты' %}

{% block javascripts %}
    <script src="{{ asset('/bundles/cronvtaskmanagement/js/Classes/Survey.js') }}"></script>
{% endblock %}

{% block content %}
    {% block table %}
        <!-- Таблица задач -->
        <table class="table table-light table-striped table-responsive">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Анкета</th>
                <th scope="col">Попытки</th>
                <th scope="col">Начало</th>
                <th scope="col">Конец</th>
            </tr>
            </thead>
            <tbody>
            <!-- Заполнение данными из базы данных -->
            <!-- Пример одной строки таблицы (должен быть заменен данными из БД) -->
            {% for am in pagination %}
                {% set survey = am.getSurvey %}
                <tr data-id="{{ survey.getUuid }}" class="{{ am.getColor }}">
                    <td data-input-name="name">
                        <div class="row">
                            <div class="col-10">
                                <div class="text-truncate">
                                    <a href="{{ path('ctb-survey-as', {'uuid': survey.getUuid}) }}">
                                        {{ survey.getName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if am.getAttempts %}
                            {{ am.getAttempts }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td data-input-name="datetime-local">{{ am.getStartedAt|date('d.m.Y H:i:s') }}</td>
                    <td data-input-name="datetime-local">
                        {% if am.getEndedAt %}
                            {{ am.getEndedAt.format('d.m.Y') }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% if paginator_render %}
        {{ paginator_render|raw }}
    {% endif %}
{% endblock %}
