{% extends 'base.html.twig' %}

{% block title %}Финансовые операции{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/cronvtaskmanagement/js/Classes/Survey.js') }}"></script>
{% endblock %}

{% block content %}
    <!-- Кнопка "Добавить" с иконкой Font Awesome -->
    <div id="showAdd"  class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fas fa-plus"></i> Добавить</button>
    </div>
    {% block table %}

        {% include 'transaction/add_transaction.html.twig' %}
        {% include 'transaction/update_transaction.html.twig' %}

        <!-- Таблица задач -->
        <table class="table table-light table-striped table-responsive">
            <thead class="table-secondary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Тип</th>
                <th scope="col">Описание</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Создан</th>
            </tr>
            </thead>
            <tbody>
            <!-- Заполнение данными из базы данных -->
            <!-- Пример одной строки таблицы (должен быть заменен данными из БД) -->
            {% for item in pagination %}
                <tr data-id="{{ item.getId }}">
                    <td>
                        {{ item.getId }}
                    </td>
                    <td data-input-name="name">
                        <div class="row">
                            <div class="col-10">
                                <div class="text-truncate">
                                    {{ item.getType.getName }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td data-input-name="description">{{ item.getDescription }}</td>
                    <td data-input-name="amount">{{ item.getAmount }}</td>
                    <td data-input-name="dated_at">{{ item.getDateAt|date('d.m.Y') }}</td>
                    <td>{{ item.getCreatedAt|date('d.m.Y H:i:s') }}</td>
                    <td>
                        <a class="js-edit-render" href="#"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('ctb-transaction-delete', {'id': item.getId}) }}" class="js-delete"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            Survey.startIndex = 1;
            Survey.endIndex = 5;
        </script>
    {% endblock %}
    {{ paginator_render|raw }}
{% endblock %}
